@font-face {
  font-family: "ClashGrotesk-Variable";
  src: url("../assets/fonts/ClashGrotesk-Variable.woff2") format("woff2"),
    url("../assets/fonts/ClashGrotesk-Variable.woff") format("woff"),
    url("../assets/fonts/ClashGrotesk-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Start styles */

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif !important;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  z-index: -1;
}

.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: inherit; /* Keep the background image */
  filter: blur(20px); /* Increase the blur for a stronger effect */
  z-index: -2;
}

.content-container {
  position: relative;
  z-index: 0;
}

/* Acrylic effect overlay */
.acrylic-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(30px) saturate(150%); /* Intense blur and saturation */
  -webkit-backdrop-filter: blur(30px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border for the glass effect */
  z-index: -1;
  pointer-events: none; /* Ensure it doesn't block interactions */
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content {
  flex: 1;
}

.facebook-widget {
  flex-shrink: 0;
  margin-left: 20px;
}

.modal-backdrop {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.1);
}

.modal.fade .modal-dialog {
  transform: translateY(-10%);
  transition: all 0.3s ease-out;
}

.modal.show .modal-dialog {
  transform: translateY(0);
}

.newsupdates {
  margin-top: 2rem !important;
  margin-left: 0.5rem !important;
}

.gradient-blur {
  position: fixed;
  top: 0;
  z-index: 5;
  inset: auto 0 0 0;
  pointer-events: none;
}
.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: fixed;
  inset: 0;
}
.gradient-blur::before {
  content: "";
  z-index: 1;
  -webkit-backdrop-filter: blur(0.5px);
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 0) 37.5%
  );
}
.gradient-blur > div:nth-of-type(4) {
  z-index: 7;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  mask: linear-gradient(to top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%);
}
.gradient-blur::after {
  content: "";
  z-index: 8;
  -webkit-backdrop-filter: blur(64px);
  backdrop-filter: blur(64px);
  mask: linear-gradient(to top, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 1) 100%);
}

.gradient-blurbot {
  position: fixed;
  top: 0;
  z-index: 5;
  inset: auto 0 0 0;
  pointer-events: none;
}
.gradient-blurbot > div,
.gradient-blurbot::before,
.gradient-blurbot::after {
  position: fixed;
  inset: 0;
}
.gradient-blurbot::before {
  content: "";
  z-index: 1;
  -webkit-backdrop-filter: blur(0.5px);
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}
.gradient-blurbot::after {
  content: "";
  z-index: 8;
  -webkit-backdrop-filter: blur(64px);
  backdrop-filter: blur(64px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}

.fitlogo {
  width: 10rem;
  height: 10rem;
  margin-top: 0.4rem !important;
}

.cardwhole {
  position: relative;
  border-radius: 44px !important;
  width: 60% !important;
  box-shadow: 0px 0px 53.6px 0px rgba(0, 0, 0, 0.25) !important;
  background-color: #fefbff;
}

.welcomepage {
  font-family: "ClashGrotesk-Variable" !important;
  color: white;
  margin-top: 3rem;
}

.FAQs {
  border-radius: 138px 10px 10px 138px !important;
  width: 6rem;
  margin-right: 0.3rem !important;
  height: 3rem !important;
}

.Visits {
  border-radius: 10px 138px 138px 10px !important;
  width: 8rem;
  height: 3rem !important;
}

.gogo {
  border-radius: 10px 138px 138px 10px !important;
  margin-left: 6rem !important;
  height: 3rem !important;
  width: 10rem;
}

.groupbuttons {
  margin-top: 7rem;
}

h5 {
  font-family: "ClashGrotesk-Variable";
  font-size: 1.6rem !important;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: medium;
  margin-bottom: -0.2rem;
}

.button-container {
  position: absolute;
  bottom: 30px;
  right: 36px;
}

.signup {
  border-radius: 37px;
  background: #0075ff !important;
}

.material-symbols-outlined {
  font-size: 2.8rem !important;
  margin-bottom: 1rem;
}

.contents {
  margin-top: 5.4rem;
  margin-left: -3rem;
}

.half {
  margin-top: 2rem;
  margin-left: 3rem;
}

.idlogo {
  margin-left: -0.5rem !important;
  margin-bottom: 1rem;
  width: 6rem !important;
  height: 6rem !important;
}

.dark-background {
  background-color: #171717;
  color: white;
  border-radius: 44px 0px 0px 44px;
}

.light-background {
  background-color: white;
  border-radius: 0px 44px 44px 0px;
}

.image-container {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.svgs,
.requirements {
  width: 80%;
  margin-bottom: 1rem;
}

.requirements {
  margin-bottom: 6rem !important;
}

.backback {
  margin-right: 0.2rem;
  width: 10.3rem;
  height: 40px;
  border-radius: 138px 10px 10px 138px !important;
}

.gotit {
  border-radius: 10px 138px 138px 10px !important;
  width: 10.3rem;
  height: 40px;
  color: white;
}

.signgo {
  margin-right: 0.2rem;
  width: 15rem;
  height: 40px;
  border-radius: 138px 10px 10px 138px !important;
}

.logingo {
  border-radius: 10px 138px 138px 10px !important;
  width: 15rem;
  height: 40px;
  color: white;
}

.reqbuttons {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.twotone {
  position: relative;
  border-radius: 44px !important;
  width: 60% !important;
  box-shadow: 0px 0px 53.6px 0px rgba(0, 0, 0, 0.25) !important;
  background-color: #fefbff00 !important;
}

.form-check {
  margin-bottom: 5rem;
}

.done {
  width: 4rem !important;
  height: 4rem !important;
  margin-bottom: 1rem;
}

.successcard {
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
}

.table {
  margin-top: 1rem !important;
  border-radius: 44px !important;
}

.left {
  margin-right: 0.2rem;
  width: 10.3rem;
  height: 40px;
  border-radius: 138px 10px 10px 138px !important;
}

.right {
  border-radius: 10px 138px 138px 10px !important;
  width: 10.3rem;
  height: 40px;
  color: white;
  margin-left: 0.2rem;
}

.middle {
  border-radius: 4px 4px 4px 4px !important;
  width: 10.3rem;
  height: 40px;
  color: white;
}

/* amity angelic blur */
.modal-backdrop {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.1);
}

/* crossfades */
.modal.fade .modal-dialog {
  transform: translateY(-10%);
  transition: all 0.3s ease-out;
}

.modal.show .modal-dialog {
  transform: translateY(0);
}

.google-signin-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  display: inline-flex; /* or block if you want it full width */
  align-items: center; /* Center items vertically */
}

.google-signin-button:focus {
  outline: none; /* Remove focus outline */
}

/* admin style */

.sidebar {
  width: 250px;
  background-color: #f8f9fad2;
  padding: 15px;
  position: fixed;
  left: -250px;
  top: 5.1rem;
  height: 100%;
  transition: left 0.3s ease;
  z-index: 1050;
}

.sidebar.show {
  left: 0;
}

.nav-link.active {
  background-color: #00008b;
  color: white;
}

.nav-link {
  margin-bottom: 1rem;
}

.content {
  margin-top: -2rem;
  flex-grow: 1;
  padding: 2rem;
  transition: margin-left 0.3s ease;
}

.content.sidebar-open {
  margin-left: 250px;
}

.welcome {
  color: white;
  margin-top: -2rem !important;
}

.navbar {
  padding: 0.75rem 1rem;
  z-index: 1000;
}

.hamburger {
  margin-right: 1rem;
}

.branding {
  font-weight: bold;
  font-size: medium;
}

.headertxt {
  font-family: "ClashGrotesk-Variable" !important;
  font-weight: 600;
}

.slogo {
  width: 3rem;
  height: 3rem;
  margin-right: 0.4rem;
}

.aight {
  position: absolute;
  right: 1rem;
  bottom: 8px;
  display: block;
}

.bigimage {
  width: 6rem;
  height: 6rem;
}

.raise {
  width: 3rem;
  height: 3rem;
}

.widgets {
  margin-top: 2rem;
}

.contentbody {
  padding: 4rem;
}

.no-border {
  border: none;
}

.vertibar {
  width: 2rem !important;
}

.navpill {
  margin-top: 2rem;
}

.pilled {
  border-radius: 10rem !important;
  margin-left: 1.4rem;
  font-weight: bold;
  width: 8rem;
  text-align: center;
}

.inactivepill {
  background-color: lightgrey !important;
  margin-left: 2rem;
  border-radius: 10rem !important;
  color: #171717;
  width: 8rem;
  text-align: center;
}

.linee {
  width: 0.125rem;
  height: 2.3125rem;
  background-color: white;
  margin-left: 2rem;
  margin-top: 2px;
}

.circlebuttonsb {
  background-color: #0d6efd;
  color: white;
  margin-left: 2rem;
}

.circlebuttonsr {
  background-color: #ea4335;
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
}

.table {
  margin-top: 2rem !important;
}

.custom-table-background {
  background-color: #f8f9fa; /* Light gray background */
  border-radius: 8px; /* Optional: rounded corners */
  padding: 15px; /* Optional: add padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add subtle shadow */
}

.updatebutton {
  margin-right: 6px;
  margin-bottom: 6px;
}

/* styling for leaderboards */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.Leaderboard {
  padding: 40px 20px;
  margin: auto;
  max-width: 800px;
}
.leader-wrap {
  display: flex;
}

.leader {
  padding: 8px 16px;
  margin-bottom: 8px;
  animation-name: revealLeaders;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.leader-ava {
  padding: 8px;
  margin-right: 16px;
  position: relative;
}

.leader-score {
  display: flex;
  align-items: center;
  opacity: 0.6;
}

.leader-score svg {
  display: block;
  margin-right: 4px;
}

.leader-score_title {
  line-height: 1;
}

.leader-ava::after {
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  height: 6px;
  position: absolute;
  border: 0px transparent solid;
  border-left-width: 20px;
  border-right-width: 20px;
  border-bottom-width: 6px;
  border-bottom-color: #fff;
  transition: border-bottom-color 0.2s ease-in-out;
}

.leader-bar {
  margin-top: 8px;
  animation-name: barLoad;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
  transform-origin: left;
}

.bar {
  height: 4px;
  border-radius: 2px;
}

@keyframes revealLeaders {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes barLoad {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
